{% extends "base.html" %}
{% load static %}
{% block produit %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{ messages.tags }" {% endif %} style="color: green;">
        {{message}}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1 style="color:brown;"> Resultat de la recherche </h1>

<div class="products-area-wrapper tableView">
  <style>
    .button { 
      padding: 5px  50px;
      border-radius: 5px;
      font-weight: bold;
      text-align:center;
      color: white;
    }

    .red{
      background-color: red;
    }

    .orange {
      background-color: orange;
    }

    .green {
      background-color: green;
    }

    .product-cell img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 10px;
    }
  </style>

  <!-- Titre du tableau -->
  <div class="products-header">
    <div class="product-cell image">Items</div>
    <div class="product-cell category">Catégories</div>
    <div class="product-cell status-cell">Status & Quantité</div>
    <div class="product-cell sales">Prix</div>
    <div class="product-cell sales">Description</div>
    <div class="product-cell stock">Date Ajout</div>
    <div class="product-cell price">Date Expiration</div>
    <div class="product-cell price">ACTION</div>
  </div>

  {% if donnees  %}
 

  {% for n in donnees %}
  <div class="products-row" id="produit-{{n.id}}">
    <button class="cell-more-button" title="Plus d'options" aria-label="Plus d'options">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
    </button>

    <div class="product-cell image">
      {% if n.image %}
        <img src="{{ n.image.url }}" alt="{{ n.name }}">
      {% else %}
        <img src="{% static 'images/default.jpg' %}" alt="Image non disponible">
      {% endif %}
      <span>{{ n.name }}</span>
    </div>

    <div class="product-cell category">
      <span class="cell-label">Catégorie :</span> {{ n.category }}
    </div>

    <div class="product-cell status-cell">
      <span class="cell-label">Statut :</span>
      <span class="status active">
        <button class="button {{ n.statut_quantite }}" title="Statut quantité">
  {{ n.statut_quantite|capfirst }}
</button> {{ n.quantite }}
      </span>
    </div>

    <div class="product-cell sales">
      <span class="cell-label">Prix :</span> {{ n.price }}
    </div>

    <div class="product-cell sales">
      <span class="cell-label">Description :</span> {{ n.description }}
    </div>

    <div class="product-cell stock">
      <span class="cell-label">Date Ajout :</span> {{ n.date_ajout }}
    </div>

    <div class="product-cell price">
      <span class="cell-label">Date Expiration :</span> {{ n.date_expiration }}
    </div>
    <div class="product-cell price">
      <span class="cell-label">Action:</span> 
      <a href="{% url 'modifier' n.pk %}" class="btn btn-info" title="Modifier">
     <i class="fas fa-edit"></i> Modifier
    </a>

   <a class="btn btn-danger"><i class="bi bi-trash3 delete-button" data-id="{{n.id}}"></i></a>
     
    <a href="{% url 'detail' n.pk %}" class="btn btn-primary" title="Détails">
    <i class="fas fa-info-circle"></i> Détails
    </a>

    </div>
  </div>
  {% endfor %}

</div>
  {% else %}
  {% endif %}

<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<!--script pour Supprimer-->
<script>
$(document).ready(function(){
  $('.delete-button').on('click',function(){
    var produitID=$(this).data('id');
    $.ajax({
      url:'/supprimer/'+produitID + '/',
      type:"POST",
      data:{
        csrfmiddlewaretoken:'{{csrf_token}}'
      },
      success:function(response){
        if (response.success){
          $('#produit-'+ produitID).remove();
          $('#succesModal').modal('show');
        }
        else{
          alert('Erreur lors de la suppresion.');
        }
      },
      error: function(){
        alert('Erreur lors de la suppresion.');
      }
    });
  });
});
</script>
{% endblock produit %}

